.container {
  border: 1px solid black;
  margin-top: 40px;
  width: 40%;
  height: 150px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.container:hover {
  background-color: aqua;
}

.full-button {
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.descriptionText{
  margin-top: 7px;
  margin-left: 2rem;

}
.bottom-icons-container {
  display: flex;
  align-items: center;

}

.calendar-icon {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-left: 31rem;
}

/* Estado: A realizarse */
.realizarse {
  background-color: #4caf50; /* Color verde */
}
.realizarse .descriptionText {
  color: white; /* Color de texto blanco */
}


/* Estado: A punto de vencer */
.aPuntoDeVencer {
  background-color: #ffc107; /* Color amarillo */
}
.aPuntoDeVencer .descriptionText {
  color: #333; /* Color de texto oscuro */
}

/* Estado: Ya vencidas */
.yaVencidas {
  background-color: #ff6b6b; /* Color rojo */
}
.yaVencidas .descriptionText {
  color: white; /* Color de texto blanco */
}
